:host {
  height: 80px;
  background-color: cadetblue;
  width: 100%;
}

nav {
  background: transparent !important;
}

.active {
  color: red;
}

.nav-item {
  cursor: pointer;
}

.nav-item:focus {
  outline: none;
}
