<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Home</a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngFor='let link of links'>
      <a class="nav-link" [routerLink]="link.url" routerLinkActive="link-active">
        {{link.label}}
      </a>
    </li>
  </ul>
  <ul class="navbar-nav" style="min-width: 200px">
    <li class="nav-item" *ngIf="!service.isLoggedIn()">
      <a class="nav-link" routerLink="login" routerLinkActive="link-active">
        Login
      </a>
    </li>
    <li class="nav-item" *ngIf="service.isLoggedIn()">
      <a class="nav-link" href="javascript:void(0)" (click)='logout()'>
        Logout
      </a>
    </li>
    <li>
      <i class="fas" [ngClass]="{
        'fa-laptop': screenService.isDesktopMode(),
        'fa-tablet': screenService.isTabletMode(),
        'fa-mobile-alt': screenService.isPhoneMode()}">
      </i>
    </li>
  </ul>
</nav>
