<div class="row">
  <div class="col-md-6 offset-md-3">
    <form #loginForm='ngForm'>
      <div class="form-group">
        <span class="control-label">Username</span>
        <input (input)='reset()' #username='ngModel' required class="form-control" type="text" name="username" placeholder="Username" [(ngModel)]='credentials.username'
        />
        <span *ngIf="getIsRequired(username)">Username is required</span>
      </div>
      <div class="form-group">
        <span class="control-label">Password</span>
        <input (input)='reset()' #password='ngModel' required minlength="5" class="form-control" type="password" name="password" placeholder="Password "
          [(ngModel)]='credentials.password' />
        <span *ngIf="getIsRequired(password)">
          Password is required
        </span>
        <span *ngIf="getHasMinLength(password)">
          Password must have {{password.errors.minlength.requiredLength}}, currently {{password.errors.minlength.actualLength}}
        </span>
      </div>
      <span *ngIf="message">{{message}}</span>
      <button [disabled]='loginForm.form.invalid' (click)='login()' class="btn btn-primary">
        Login
      </button>
    </form>
  </div>
</div>
