<app-loading-spinner [isLoading]='isLoading' message="Loading...">
  <div class="row">
    <mat-card class="col-md-10 offset-md-1 col-xs-12 col-lg-8 offset-lg-2" style="overflow-x: auto;">
      <mat-card-subtitle>Users
        <button routerLink='new' mat-raised-button color="primary">
          New User
        </button>
      </mat-card-subtitle>
      <mat-card-content>
        <mat-paginator (page)="changePage($event)" [pageIndex]='page' [length]="total" [pageSize]="rows" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        <mat-table [dataSource]='dataSource'>

          <ng-container *ngFor="let column of columnDefs">
            <ng-container matColumnDef="{{column.property}}">
              <mat-header-cell mat-sort-header *matHeaderCellDef [style.min-width.px]='column.width'>
                <div>{{column.label}}</div>
                <mat-form-field>
                  <input type="text" [(ngModel)]='filter[column.property]' matInput placeholder="{{column.label}}">
                </mat-form-field>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" [style.min-width.px]='column.width'>
                <app-editable-cell [element]="element" property="{{column.property}}">

                </app-editable-cell>
              </mat-cell>
            </ng-container>
          </ng-container>


          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="text-center" [style.min-width.px]='actionColumnWidth'>
              <div>Actions</div>
              <button mat-button (click)='search()'>
                <i class="fas fa-filter"></i>
              </button>
            </mat-header-cell>
            <mat-cell class="text-center" *matCellDef="let element" [style.min-width.px]='actionColumnWidth'>
              <button (click)='edit(element)' type="button" mat-button aria-hidden="true" aria-label="Edit">
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="delete(element)" mat-button color="warn" type="button" aria-hidden="true" aria-label="Delete ">
                <i class="fas fa-trash"></i>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;"></mat-row>

        </mat-table>
        <mat-paginator (page)="changePage($event)" [pageIndex]='page' [length]="total" [pageSize]="rows" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</app-loading-spinner>
